<section class="event-details">
    <div class="hero-sec" style="    background-image: -webkit-linear-gradient(143deg, rgba(18, 116, 163, 0.58) 0%,rgba(104, 173, 116, 0.66) 100%),url(/images/groups/cover_default.jpg);
    background-image: -moz-linear-gradient(143deg, rgba(18, 116, 163, 0.58) 0%,rgba(104, 173, 116, 0.66) 100%),url(/images/groups/cover_default.jpg);
    background-image: -o-linear-gradient(143deg, rgba(18, 116, 163, 0.58) 0%,rgba(104, 173, 116, 0.66) 100%),url(/images/groups/cover_default.jpg);
    background-image: linear-gradient(143deg, rgba(18, 116, 163, 0.58) 0%,rgba(104, 173, 116, 0.66) 100%),url(/images/groups/cover_default.jpg);
;height: 200px; background-size: cover;position:relative;">
        <p class="date-time"><span class="date">{{eventTime}}</span><span class="time-a">{{event.event_from_time}}</span></p>
    </div>
    <div class="container event-detail-wrap">
        <p class="eventName event-heading">{{event.event_name}}</p>
        <div class="row">
            <div class="col-xs-6">
                <p class="event-address">In {{event.event_address}}</p>
            </div>
            <div class="col-xs-6">
                <p class="amount text-right">₹{{event.event_amount}}</p>
                <p class="muted text-right">Pay at venue</p>
            </div>
        </div>
        <hr/>
        <div class="participants-wrap">
            <h3 class="event-heading">Who all are going</h3>
            <ul class="participants">
                <li ng-repeat="user in event.joined_persons">
                    <img ng-src="{{user.user_img}}" alt="user icon" width="100px;" height="100px;">
                </li>
            </ul>
        </div>
        <div class="about-event">
            <h3 class="event-heading">More about the event</h3>
            <p>{{event.message}}</p>
        </div>
        <div class="discussion-wrap">
            <h3 class="event-heading">Discussion</h3>
            <div class="row">
                <div class="col-xs-10">
                    <textarea placeholder="Write here" class="form-control" ng-model="comment"></textarea>
                </div>
                <div class="col-xs-2" ng-click="sendComment(comment,event.event_id)">
                    <img src="https://s3.ap-south-1.amazonaws.com/sangram.xyz/paper-plane+(1).png" style="margin-top: 12px;">
                </div>
            </div>

            <div class="comment-sec">
                <div class="comment table-row" ng-repeat="comment in event.event_comments  ">
                    <img class="table-cell comment-user" src="{{comment.user_img}}" alt="">
                    <div class="table-cell comment-cont full-width">
                        <h4>{{comment.user_name}}<span class="muted float-right">{{comment.comment_date}}</span></h4>
                        <p>{{comment.event_comment}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="join-sec">
        <p class="join margin-bottom" ng-click="going(event.event_id)">Going</p>
    </div>
</section>